In [29]:
#Environment setup
import pandas as pd
import psycopg2
import sqlalchemy
%load_ext sql

#Connect to SQL database
%sql postgresql://postgres:postgres@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%sql SELECT * FROM minutecalorieswide LIMIT 5;

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
5 rows affected.

[(1503960366, '4/13/2016 12:00:00 AM', 1.88759994506836, 2.20219993591309, 0.94379997253418, 0.94379997253418, 0.94379997253418, 2.04489994049072, 0.94379997253418, 2.20219993591309, 0.94379997253418, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.94379997253418, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.786499977111816, 1.88759994506836, 0.94379997253418, 0.94379997253418, 0.94379997253418, 0.94379997253418, 2.04489994049072, 2.35949993133545, 0.94379997253418, 2.04489994049072, 0.94379997253418, 0.94379997253418, 0.94379997253418, 2.04489994049072, 1.88759994506836, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.94379997253418, 2.04489994049072, 2.04489994049072, 0.94379997253418, 2.35949993133545, 1.88759994506836, 0.94379997253418, 0.94379997253418, 0.94379997253418, 0.94379997253418),
 (1503960366, '4/13/2016 1:00:00 AM', 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.94379997253418, 0.94379997253418, 0.94379997253418, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816),
 (1503960366, '4/13/2016 2:00:00 AM', 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816),
 (1503960366, '4/13/2016 3:00:00 AM', 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 2.04489994049072, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.94379997253418, 2.04489994049072, 2.04489994049072, 1.88759994506836, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816),
 (1503960366, '4/13/2016 4:00:00 AM', 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.94379997253418, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816, 0.786499977111816)]

In [35]:
#Read multiple CSV files and load into SQL database
import glob 
import os
file_names = glob.glob('data/*.csv')

for names in file_names:
    tablename = os.path.basename(names)
    tablename, ext = os.path.splitext(tablename)
    df = pd.read_csv(names)
    df.columns = df.columns.str.lower() #convert column names to lower case
    df.to_sql(tablename, engine, if_exists='replace', index=False)

940

940

940

940

658

99

99

99

580

645

580

645

580

521

580

645

413

67

In [36]:
%%sql
SELECT *
FROM dailyactivity
LIMIT 10;

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
10 rows affected.

[(1503960366, '4/12/2016', 13162, 8.5, 8.5, 0.0, 1.87999999523163, 0.550000011920929, 6.05999994277954, 0.0, 25, 13, 328, 728, 1985),
 (1503960366, '4/13/2016', 10735, 6.96999979019165, 6.96999979019165, 0.0, 1.57000005245209, 0.689999997615814, 4.71000003814697, 0.0, 21, 19, 217, 776, 1797),
 (1503960366, '4/14/2016', 10460, 6.73999977111816, 6.73999977111816, 0.0, 2.44000005722046, 0.400000005960464, 3.91000008583069, 0.0, 30, 11, 181, 1218, 1776),
 (1503960366, '4/15/2016', 9762, 6.28000020980835, 6.28000020980835, 0.0, 2.14000010490417, 1.25999999046326, 2.82999992370605, 0.0, 29, 34, 209, 726, 1745),
 (1503960366, '4/16/2016', 12669, 8.15999984741211, 8.15999984741211, 0.0, 2.71000003814697, 0.409999996423721, 5.03999996185303, 0.0, 36, 10, 221, 773, 1863),
 (1503960366, '4/17/2016', 9705, 6.48000001907349, 6.48000001907349, 0.0, 3.19000005722046, 0.779999971389771, 2.50999999046326, 0.0, 38, 20, 164, 539, 1728),
 (1503960366, '4/18/2016', 13019, 8.59000015258789, 8.59000015258789, 0.0, 3.25, 0.639999985694885, 4.71000003814697, 0.0, 42, 16, 233, 1149, 1921),
 (1503960366, '4/19/2016', 15506, 9.88000011444092, 9.88000011444092, 0.0, 3.52999997138977, 1.32000005245209, 5.03000020980835, 0.0, 50, 31, 264, 775, 2035),
 (1503960366, '4/20/2016', 10544, 6.67999982833862, 6.67999982833862, 0.0, 1.96000003814697, 0.479999989271164, 4.23999977111816, 0.0, 28, 12, 205, 818, 1786),
 (1503960366, '4/21/2016', 9819, 6.34000015258789, 6.34000015258789, 0.0, 1.3400000333786, 0.349999994039536, 4.65000009536743, 0.0, 19, 8, 211, 838, 1775)]

In [24]:
%%sql
SELECT *
FROM hourlyintensities
LIMIT 10;

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
10 rows affected.

[(1503960366, '4/12/2016 12:00:00 AM', 20, 0.333333),
 (1503960366, '4/12/2016 1:00:00 AM', 8, 0.133333),
 (1503960366, '4/12/2016 2:00:00 AM', 7, 0.116667),
 (1503960366, '4/12/2016 3:00:00 AM', 0, 0.0),
 (1503960366, '4/12/2016 4:00:00 AM', 0, 0.0),
 (1503960366, '4/12/2016 5:00:00 AM', 0, 0.0),
 (1503960366, '4/12/2016 6:00:00 AM', 0, 0.0),
 (1503960366, '4/12/2016 7:00:00 AM', 0, 0.0),
 (1503960366, '4/12/2016 8:00:00 AM', 13, 0.216667),
 (1503960366, '4/12/2016 9:00:00 AM', 30, 0.5)]

In [45]:
%%sql
SELECT CAST(activityhour AS time) [time]
FROM hourlyintensities
LIMIT 10;

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
(psycopg2.errors.SyntaxError) syntax error at or near "["
LINE 1: SELECT CAST(activityhour AS time) [time]
                                          ^

[SQL: SELECT CAST(activityhour AS time) [time]
FROM hourlyintensities
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [37]:
%%sql
SELECT *
FROM hourlyintensities
WHERE activityhour IS NULL

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
0 rows affected.

[]

In [37]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'heartrate_seconds';

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
3 rows affected.

[('Id', 'bigint'), ('Value', 'bigint'), ('Time', 'text')]