In [6]:
#Environment setup
import pandas as pd
import psycopg2
import sqlalchemy
%load_ext sql

In [ ]:
con = psycopg2.connect(
    host='mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com',
    database='bellabeat',
    user='postgres',
    password='postgres'
)

In [7]:
%sql postgresql://postgres:postgres@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat

In [9]:
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat')

In [10]:
df = pd.read_csv('data/dailyActivity_merged.csv')

In [15]:
df.to_sql('daily_activity', engine, if_exists='replace', index=False)

940

In [24]:
%%sql SELECT * FROM daily_activity LIMIT 10;

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [29]:
import glob 
file_names = glob.glob('data/*.csv')
print(file_names)

['data\\dailyactivity.csv', 'data\\dailycalories.csv', 'data\\dailyintensities.csv', 'data\\dailysteps.csv', 'data\\heartrate_seconds.csv', 'data\\hourlycalories.csv', 'data\\hourlyintensities.csv', 'data\\hourlysteps.csv', 'data\\minutecaloriesnarrow.csv', 'data\\minutecalorieswide.csv', 'data\\minuteintensitiesnarrow.csv', 'data\\minuteintensitieswide.csv', 'data\\minutemetsnarrow.csv', 'data\\minutesleep.csv', 'data\\minutestepsnarrow.csv', 'data\\minutestepswide.csv', 'data\\sleepday.csv', 'data\\weightloginfo.csv']

In [31]:
import os
for names in file_names:
    filename = os.path.basename(names)
    filename, fileext = os.path.splitext(filename)
    print(filename)

dailyactivity
dailycalories
dailyintensities
dailysteps
heartrate_seconds
hourlycalories
hourlyintensities
hourlysteps
minutecaloriesnarrow
minutecalorieswide
minuteintensitiesnarrow
minuteintensitieswide
minutemetsnarrow
minutesleep
minutestepsnarrow
minutestepswide
sleepday
weightloginfo

In [32]:
for names in file_names:
    tablename = os.path.basename(names)
    tablename, ext = os.path.splitext(tablename)
    pd.read_csv(names).to_sql(tablename, engine, if_exists='replace', index=False)

940

940

940

940

658

99

99

99

580

645

580

645

580

521

580

645

413

67

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [34]:
df2 = pd.read_csv('data/heartrate_seconds.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [36]:
%%sql
SELECT *
FROM heartrate_seconds
LIMIT 20;

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
20 rows affected.

[(2022484408, '4/12/2016 7:21:00 AM', 97),
 (2022484408, '4/12/2016 7:21:05 AM', 102),
 (2022484408, '4/12/2016 7:21:10 AM', 105),
 (2022484408, '4/12/2016 7:21:20 AM', 103),
 (2022484408, '4/12/2016 7:21:25 AM', 101),
 (2022484408, '4/12/2016 7:22:05 AM', 95),
 (2022484408, '4/12/2016 7:22:10 AM', 91),
 (2022484408, '4/12/2016 7:22:15 AM', 93),
 (2022484408, '4/12/2016 7:22:20 AM', 94),
 (2022484408, '4/12/2016 7:22:25 AM', 93),
 (2022484408, '4/12/2016 7:22:35 AM', 92),
 (2022484408, '4/12/2016 7:22:40 AM', 89),
 (2022484408, '4/12/2016 7:22:50 AM', 83),
 (2022484408, '4/12/2016 7:22:55 AM', 61),
 (2022484408, '4/12/2016 7:23:00 AM', 60),
 (2022484408, '4/12/2016 7:23:10 AM', 61),
 (2022484408, '4/12/2016 7:23:25 AM', 61),
 (2022484408, '4/12/2016 7:23:30 AM', 57),
 (2022484408, '4/12/2016 7:23:40 AM', 54),
 (2022484408, '4/12/2016 7:23:50 AM', 55)]

In [37]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'heartrate_seconds';

 * postgresql://postgres:***@mydataplace.cgaor8iekxp8.us-east-1.rds.amazonaws.com:5432/bellabeat
3 rows affected.

[('Id', 'bigint'), ('Value', 'bigint'), ('Time', 'text')]